.op-head {
  height: 100vh;
  min-height: 350px;
  background: radial-gradient(rgba(0, 0, 0, 0.5) 1%, transparent 10%) 1px 1px;
  background-size: 16px 16px;
  background-color: #FF5964;
  color: #FFF;
  text-align: right;
  padding-right: 20px;
  position: relative;
}
.op-head .context-container {
  color: #FFF;
  position: relative;
  top: 40%;
  float: right;
  text-shadow: 2px black;
}
.op-head .context-sns {
  clear: both;
  color: #FFF;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 1em;
  text-align: center;
}
.op-head .context-sns .maintext {
  font-size: 12px;
}
.op-head * {
  color: #FFF;
}

/*
 * Glitch style
 */
.glitch {
  position: relative;
  padding: 0px 1px;
  outline: 0px;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
}
.glitch::before, .glitch::after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
  z-index: 1;
}
.glitch::before {
  padding-right: 1px;
  text-shadow: -1px 0 #FF5964;
  animation-name: glitch-animation-red;
}
.glitch::after {
  padding-left: 1px;
  text-shadow: -1px 0 blue;
  animation-name: glitch-animation-blue;
}
.glitch:hover::before {
  animation-name: glitch-animation-red;
}
.glitch:hover::after {
  animation-name: glitch-animation-blue;
}

@keyframes glitch-animation-blue {
  0% {
    opacity: 1;
    clip-path: inset(4% 0% 52% 0%);
    margin-top: 2px;
  }
  10% {
    opacity: 1;
    clip-path: inset(19% 0% 34% 0%);
    margin-top: 2px;
  }
  20% {
    opacity: 1;
    clip-path: inset(75% 0% 83% 0%);
    margin-top: 2px;
  }
  30% {
    opacity: 1;
    clip-path: inset(99% 0% 100% 0%);
    margin-top: 1px;
  }
  40% {
    opacity: 1;
    clip-path: inset(2% 0% 50% 0%);
    margin-top: 2px;
  }
  50% {
    opacity: 1;
    clip-path: inset(19% 0% 70% 0%);
    margin-top: 2px;
  }
  60% {
    opacity: 1;
    clip-path: inset(40% 0% 86% 0%);
    margin-top: 1px;
  }
  70% {
    opacity: 1;
    clip-path: inset(37% 0% 98% 0%);
    margin-top: 2px;
  }
  80% {
    opacity: 1;
    clip-path: inset(4% 0% 74% 0%);
    margin-top: 2px;
  }
  90% {
    opacity: 1;
    clip-path: inset(14% 0% 54% 0%);
    margin-top: 2px;
  }
  100% {
    opacity: 1;
    clip-path: inset(76% 0% 7% 0%);
    margin-top: 2px;
  }
}
@keyframes glitch-animation-red {
  0% {
    opacity: 1;
    clip-path: inset(60% 0% 66% 0%);
    margin-top: 3px;
  }
  10% {
    opacity: 1;
    clip-path: inset(35% 0% 32% 0%);
    margin-top: 1px;
  }
  20% {
    opacity: 1;
    clip-path: inset(49% 0% 48% 0%);
    margin-top: 3px;
  }
  30% {
    opacity: 1;
    clip-path: inset(34% 0% 24% 0%);
    margin-top: 3px;
  }
  40% {
    opacity: 1;
    clip-path: inset(31% 0% 31% 0%);
    margin-top: 3px;
  }
  50% {
    opacity: 1;
    clip-path: inset(41% 0% 16% 0%);
    margin-top: 2px;
  }
  60% {
    opacity: 1;
    clip-path: inset(48% 0% 75% 0%);
    margin-top: 1px;
  }
  70% {
    opacity: 1;
    clip-path: inset(74% 0% 55% 0%);
    margin-top: 1px;
  }
  80% {
    opacity: 1;
    clip-path: inset(58% 0% 18% 0%);
    margin-top: 2px;
  }
  90% {
    opacity: 1;
    clip-path: inset(23% 0% 14% 0%);
    margin-top: 1px;
  }
  100% {
    opacity: 1;
    clip-path: inset(39% 0% 21% 0%);
    margin-top: 2px;
  }
}

/*# sourceMappingURL=custom.css.map */
