body{
}
.op-head{
    height:100vh;
    background-color:#FF5964;
    color:#FFF;
    text-align:right;
    padding-right: 20px;
}

.op-head .context-container{
    color:#FFF;
    position:relative;
    top: 40%;
    float:right;
}

.op-head .context-sns{
    clear:both;
    color:#FFF;
    position:absolute;
    right:0;
    left:0;
    bottom:1em;
    text-align: center;
}

.op-head .context-sns .maintext{
    font-size:12px;
}

.op-head *{
    color:#FFF;
}