$main_bg: #FFF;
$main_bg_accent: rgba(0,0,0,.3);
$text_color_main:#666;
$text_color_bg_main:#444;
$glitch_red_color:#FF5964;
$glitch_blue_color:#35a7ff;

.op-head{
    height:100vh;
    min-height:350px;
    background: 
    radial-gradient($main_bg_accent 1%, transparent 10%) 1px 1px;
    background-size:16px 16px;
    background-color: $main_bg;
    color:$text_color_main;
    text-align:right;
    padding-right: 20px;
    position:relative;
    
    *{
        color:$text_color_main;
        //background-color:$text_color_bg_main;
    }
    .context-container{
        position:relative;
        top: 40%;
        float:right;
        text-shadow: 2px black;
    }
    
    .context-sns{
        clear:both;
        position:absolute;
        right:0;
        left:0;
        bottom:1em;
        text-align: center;
        .maintext{
                font-size:12px;
            }
    }
}

/*
 * Glitch style
 */
.glitch {
	position: relative;
	padding: 0px 1px;
	outline: 0px;
	overflow: hidden;
	cursor: pointer;
	z-index: 0;

	&::before,
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		content: attr(data-text);
		width: 100%;
    	height: 100%;
		opacity: 0;
		overflow: hidden;
		animation-duration: 1000ms;
		animation-delay: 0ms;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: reverse-alternate;
		z-index: -1;
	}
	
	&::before {
		padding-right: 1px;
		//text-shadow: -1px 0 $glitch_red_color;
		color:$glitch_red_color;
		animation-name: glitch-animation-red;
	}
	
	&::after {
		padding-left: 1px;
		//text-shadow: -1px 0 $glitch_blue_color;
		color:$glitch_blue_color;
		animation-name: glitch-animation-blue;
	}
	
	&:hover {	
		&::before{
			animation-name: glitch-animation-red;
		}
		&::after { 
			animation-name: glitch-animation-blue;
		}
	}
}


$steps: 5;

@keyframes glitch-animation-blue {
  	
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			opacity: 1;
			clip-path: inset( percentage(random(100)/100) 0% percentage(random(100)/100) 0% );
			margin-top: random(2)+px;
            z-index: random(2)-2;
            //$chances: random(5);
            //@if ($chances == 1){
            //    background-color: $glitch_blue_color;
            //}
		}
	}
}

@keyframes glitch-animation-red {
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			opacity: 1;
			//clip-path: inset( percentage(random(100)/100) 0% percentage(random(100)/100) 0% );
			margin-top: random(2)+px;
            z-index: random(2)-2;
		}
	}
}