body{
    font-family:sans-serif;
}
#spinny{
    background-color:#0F0;
}
#chart,#caption{
    font-family: 'Roboto Condensed', sans-serif;
}
#chart{
    width:500px;
    height:500px;
    float:left;
}
#caption{
    width:50%;
    display:flex;
    height: 500px;
    align-items:flex-start;
    padding-left:30px;
}
#caption .text{
    align-self:center;
}
#customization{
    display:flex;
    align-items:flex-start;
    width:100%;
}
#page-custom, #form{
    width:50%;
}

